<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Name }} recipe</title>
    <link href="/index.css" rel="stylesheet">
</head>

<body>
    <div class="title">
        <h1 id="recipe-name">{{ .Name }}</h1>
        <form class="recipe-links" id="recipe-link-form">
            <input type="button" onclick="window.location.href='/'" class="button-link" value="Home"/>
            <span style="flex-grow: 1;">&nbsp;</span>
            <input type="button" onclick="editRecipe()" class="button-link" value="Edit"/>
            <span style="flex-grow: 1;">&nbsp;</span>
            <input type="button" onclick="deleteRecipe()" class="button-link" value="Delete"/>
        </form>
        <p><i>Total cook time approx. {{ .CookTime }} minutes</i></p>
    </div>

    <div class="recipe-list">
        <dl>
            <dt id="ingredients-term">Ingredients:</dt>
            <dd id="ingredients-definition"><ul>
            {{ range .Ingredients }}
                <li>{{ . }}</li>
            {{ end }}
            </ul></dd>
            <dt id="instructions-term">Instructions:</dt>
            <dd id="instructions-definition"><ul>
            {{ range .Instructions }}
                <li>{{ . }}</li>
            {{ end }}
            </ul></dd>
            <dt id="cook-time-term">Cook time:</dt>
            <dd id="cook-time-definition"><i>approx. {{ .CookTime }} minutes</i></dd>
        </dl>
    </div>
</body>

<script src="../deleteRecipeForm.js" type="text/javascript" defer></script>

</html>

